<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>404 not found</title>
</head>
<body>
<%- include('./partials/nav') %>
<div class="d-grid gap-2 col-8 mx-auto text-center mt-5">
    <h1>404 Not Found</h1>
</div>
<%- include('./partials/scripts') %>
</body>
</html>
