<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    <title>Add New Record</title>
</head>
<body>

<%- include('./partials/nav') %>

<%- include('./addRecordPartials/form') %>

<%- include('./partials/scripts')%>
</body>
</html>