<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    <title>Edit Record</title>
</head>
<body>

<%- include('./partials/nav') %>

<%- include('./editRecordPartials/form') %>

<%- include('./partials/scripts') %>
</body>
</html>