<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
</head>
<body>
<%- include('./partials/nav') %>
    <div class="d-grid gap-2 col-8 mx-auto text-center mt-5">
        <a href="/record/add" class="btn btn-primary" role="button">Add Record</a>
        <a href="/record/history" class="btn btn-primary" role="button">Show History</a>
    </div>
<%- include('./partials/scripts') %>
</body>
</html>
