<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Record page</title>
</head>
<body>
<%- include('./partials/nav') %>

<%- include('./recordPartials/data') %>

<%- include('./partials/scripts') %>
</body>
</html>
